# Compiler files
cache/
out/

# Ignore all broadcast content by default
broadcast/**

# But keep top-level chain-pair JSONs like 11155111-421614.json
!broadcast/*.json

# Docs
docs/

# Dotenv file
.env
